/*ADD A README EVENTUALLY!!! template for this is in hobbies starred folder*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(229, 229, 243);
  overflow-x: hidden;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#content {
  margin-top: 80px;
  width: 80%;
  height: 80%;
}

#heading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%;
  padding: 10px;
  color: rgb(2, 62, 80);
  background-color: rgb(212, 212, 233);
  z-index: 10000;
}

#heading-options {
  display: flex;
  flex-direction: row;
}

#heading-options a {
  padding-left: 10px;
  font-size: 15px;
  color: rgb(2, 62, 80);
  text-decoration: none;
}
#heading-options a:hover {
  cursor: pointer;
  font-weight: 530;
  color: black;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 97%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#main hr {
  background-color: rgb(134, 113, 255);
  width: 100%;
  height: 4px;
}

#about-me {
  text-align: center;
}

.content-box {
  color: rgb(2, 62, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}
.content-box > p {
  text-align: center;
}

.content-inner {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  width: 50%;
}

.inner-box {
  width: 50%;
  aspect-ratio: 1;
  margin: 10px;
}
.inner-box:hover {
  opacity: 0.7;
  z-index: 0;
  cursor: pointer;
}
.inner-box.extra:hover {
  opacity: 1;
  cursor: default;
}
.inner-box img {
  width: 100%;
  height: 100%;
}

.elements {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.elements#digital-elements, .elements#traditional-elements {
  flex-direction: column;
}

.digital-row {
  display: flex;
  flex-direction: row;
}

#footer {
  background-color: rgb(212, 212, 233);
  color: rgb(2, 62, 80);
  display: flex;
  padding-left: 10px;
  padding: 20px;
  align-items: center;
  width: 100%;
}

/*CSS above runs by default i think, will change if these parameters met*/
/*extra small, 600px or below*/
@media screen and (max-width: 500px) {
  .elements {
    flex-direction: column;
    align-items: center;
  }

  .digital-row {
    flex-direction: column;
  }

  .content-inner {
    width: 100%;
  }

  #heading-options > p {
    font-size: 10px;
  }

  #heading h1 {
    font-size: 20px;
  }

  #heading p {
    font-size: 10px;
  }

  #content h2 {
    font-size: 15px;
  }
  #content {
    width: 100%;
  }
}

/*medium, below 900px but more than 600px*/
/*make elements into rows of 2 instead of rows of 4*/
@media screen and (min-width: 500px) and (max-width: 700px) {
  .elements {
    flex-direction: column;
    align-items: center;
  }

  .digital-row {
    flex-direction: column;
  }

  .content-inner {
    width: 100%;
  }
  
  #content {
    width: 90%;
  }
}

